

<ion-content>
    <swiper #swiper (slideChange)="onSlideChange()" [config]="config">
      <ng-template swiperSlide>
        <app-comp1></app-comp1>
      </ng-template>
      <ng-template swiperSlide><app-comp2></app-comp2></ng-template>
      <ng-template swiperSlide><app-comp3></app-comp3></ng-template>
    </swiper>
    <ion-toolbar>
      <ion-button slot="start" (click)="onClickPrev()">Prev</ion-button>
      <ion-button slot="end" (click)="onClickNext()">Next</ion-button>
  
    </ion-toolbar>
</ion-content>

